---
import { Icon } from "astro-icon/components";
import carousel1 from "@assets/carousel/carousel-1.jpg";
import carousel2 from "@assets/carousel/carousel-2.jpg";
import carousel3 from "@assets/carousel/carousel-3.jpg";
import carousel4 from "@assets/carousel/carousel-4.jpg";
import carousel5 from "@assets/carousel/carousel-5.jpg";
import { Image } from "astro:assets";
import Slide from "./Slide.astro";
---

<section class="w-full py-12 pl-5 md:pl-0">
  <div class="sm:pl-12 flex flex-col lg:flex-row gap-x-8 justify-between jos">
    <div>
      <h3
        class="section-title text-primary-400 font-light uppercase text-4xl text-center leading-none"
      >
        The level <br />
        <span class="section-subtitle-2 whitespace-nowrap relative bottom-1"
          >of vacationing you</span
        >
        <br /> deserve
      </h3>
      <div class="flex justify-center mt-10 lg:mt-52 gap-x-8">
        <button>
          <Icon
            class="swiper-button-prev-custom-spot-showcase text-primary-300 hover:text-primary-400 focus:text-primary-500 transition-color duration-300"
            size={30}
            name="mdi:arrow-left"
          />
        </button>
        <span class="text-xl uppercase text-primary-300">View properties</span>
        <button>
          <Icon
            class="swiper-button-next-custom-spot-showcase text-primary-300 hover:text-primary-400 focus:text-primary-500 transition-color duration-300"
            size={30}
            name="mdi:arrow-right"
          />
        </button>
      </div>
    </div>

    <!-- Slider main container -->
    <div class="swiper spot-showcase-carousel w-full mt-5 lg:mt-0">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper relative flex-nowrap">
        <Slide>
          <Image
            loading="eager"
            src={carousel1}
            alt="vacation spot"
            class="aspect-[16/13] object-cover"
            format="avif"
            width={700}
          />
        </Slide>
        <Slide>
          <Image
            loading="eager"
            src={carousel2}
            alt="vacation spot"
            class="aspect-[16/13] object-cover"
            format="avif"
            width={700}
          />
        </Slide>
        <Slide>
          <Image
            loading="lazy"
            src={carousel3}
            alt="vacation spot"
            class="aspect-[16/13] object-cover"
            format="avif"
            width={700}
          />
        </Slide>
        <Slide>
          <Image
            loading="lazy"
            src={carousel4}
            alt="vacation spot"
            class="aspect-[16/13] object-cover"
            format="avif"
            width={700}
          />
        </Slide>
        <Slide>
          <Image
            loading="lazy"
            src={carousel5}
            alt="vacation spot"
            class="aspect-[16/13] object-cover"
            format="avif"
            width={700}
          />
        </Slide>
      </div>
    </div>
  </div>

  <div>
    <div class="relative flex sm:hidden mt-10">
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
